.reviewsContainer{
    /* background-color: rgb(215, 215, 215); */
    width: 100%;
    height: 90vh;
}

.titleSection{
    margin-top: 60px;
    text-align: center;
    font-size: 2em;
    color: #2c1702;
}

/* REVIEW */

.review{
    /* margin: 0px; */
    width: 300px;
    height: 200px;
    transition: .3s;
    /* text-align: center; */
    /* background-color: red; */
    /* border-radius: 5px; */
    /* border-left:2px solid rgba(199, 199, 199, 0.428); */
    /* box-shadow: 0px 5px 10px 5px rgba(192, 192, 192, 0.335); */
}

.review:hover{
    scale:1.1;
    /* background-color: rgba(128, 128, 128, 0.16); */
}

.reviews{
    margin-top: 50px;
    /* margin: 0 auto; */
    justify-content: space-evenly;
    display: flex;
    /* flex-direction: row; */
}

.reviewHeader{
    padding: 15px;
    display: flex;
}

.imgProfile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #7d5024;
}

.userData{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.userName{
    font-weight: 600;
    margin: 0;
}

.textReview{
    margin-top: 0px;
    padding: 0px 50px 0px 20px;
    color: rgb(52, 52, 52);
    font-weight: 400;
    text-align: justify;
}
/* .textReview::before{
    content:'"';
    font-size: 1.1em;
} */

.myReview{
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 1.3em;
    font-weight: 600;
    border: 0;
    border:2px solid #7d5024;
    border-radius: 5px;
    padding: 10px 35px;
    color: #2a1501;
    transition: .25s;
    cursor: pointer;
}

.myReview:hover{
    color: white;
    background-color: #7d5024;
    border: 2px solid rgba(41, 154, 189, 0);
    /* width: 100%; */
}

.notReview{
    color: rgb(168, 168, 168);
    font-weight: 500;
}

@media screen and (max-width:700px){
    .textReview{
        padding: 0px 10px;
    }
}