.background{
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.635);
    justify-content: center;
    transition: 3s;
    opacity: 0;
    animation: aparecer .25s ease-in-out forwards;
}

@keyframes aparecer{
    100%{
        opacity:1;
    }
}

.modalContainer{
    margin-top: 10%;
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modalContainerUrl{
    margin-top: 10%;
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.disclaimerUrl{
    font-size: .8em;
    color: rgb(78, 78, 78);
    font-weight: 500;
    padding: 0px 50px;
    text-align: center;
}

.input{
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(89, 89, 89, 0.387);
    width: 70%;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* padding: 6px 0px; */
}

.content{
    text-align: justify;
    border-radius: 5px;
    border: 1px solid rgba(89, 89, 89, 0.387);
    width: 70%;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    max-width: 70%;
    min-width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.rating{
    max-width: 150px;
    margin: 0 auto;
}

.button{
    width: 70%;
    margin: 0 auto;
    padding: 6px 0px;
    margin-top: 20px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(41, 155, 189);
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}

.disclaimer{
    font-size: .8em;
    color: rgb(78, 78, 78);
    font-weight: 500;
    text-align: center;
}

.titleModal{
    text-align: center;
    padding: 0px 80px;
}